{% extends 'StudentHome/base.html' %}
{% block body %}
{% load static %}


    <div id="main-content" class="taskboard">
        <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <center><h2>Welcome</h2>
                                <h3 style="font-family: monospace; font-size: 35px; color: #1A5276">{{ student.name }}</h3></center>
                        </div>
                        <div class="header">
                          <h4 style="font-family: monospace;">Change Your Password.</h4>

                        </div>

                        <div class="body">
                            {% if error %}
                            <center><p style="color:red;">Your Old Password Is Wrong.</p></center>
           {% endif %}
                            <form action="" method="post">
                                {% csrf_token %}

       <div class="row clearfix">

                              <div class="col-lg-4 col-md-6 col-sm-12">

								</div>
                            <div class="col-lg-4 col-md-6 col-sm-12">

								<br>
                                <label style="float:left;font-family: monospace; font-size: 14px; color: #1A5276"><b>Your Old Password</b></label>
                                    <input type="password" class="form-control" name="old" placeholder="Enter old Password" required>

                            </div>
                              <div class="col-lg-4 col-md-6 col-sm-12">

								</div>
                            <div class="col-lg-4 col-md-6 col-sm-12">

								</div>
                            <div class="col-lg-4 col-md-6 col-sm-12">

								<br>
                                <label style="float:left;font-family: monospace; font-size: 14px; color: #1A5276"><b>Your New Password</b></label>
                                    <input type="password" class="form-control" name="new" placeholder="Enter New Password" required>

                            </div>
                              <div class="col-lg-4 col-md-6 col-sm-12">

								</div>





                          </div><br>
                                <center>  <div class="footer text-center" style = "max-width:400px; min-width:200px;">
                        <input class="btn btn-info btn-round " type = "submit" value="Change Password" name="Submit">

                    </div></center>

                            </form>
                        </div>
                    </div>
                </div>
                </div>

        </div>
    </div>




<script>
// Set the date we're counting down to
var countDownDate = 0;
var count = new Date().getTime();
var h = 1000 * 60 * 60 * 1;
var m = 1000 * 60 * 10;
var s = 1000 * 20;
countDownDate = count + h + m + s + 2000;
// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = hours + ":" + minutes + ":" + seconds;

    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
}, 1000);
</script>


{% endblock %}