{% extends 'StudentHome/base.html' %}
{% block body %}
{% load static %}

    <div id="main-content" class="taskboard">
        <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <center><h2>Welcome</h2>
                                <h3 style="font-family: monospace; font-size: 35px; color: #1A5276">{{ data.name }}</h3></center>
                        </div>
                        <div class="header">
                          <h4 style="font-family: monospace;">Here is a list of your Test Packages.</h4>

                        </div>

                        <div class="body">
                            <div class="table-responsive">
                                <table class="table center-aligned-table">
                                    <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Package Name</th>
                                        <th>Course Name</th>
                                        <th>Total Exams</th>
                                        <th>Total Questions</th>
                                        <th>Assigned Date</th>
                                        <th>Check</th>
                                        <th>Fee Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                               {% if request.user.last_name == "I_Student" %}
                                {% for ins in data.assign_test_series_institute_student_set.all %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ ins.package.name }}</td>
                                        <td>{{ ins.package.course.name }}</td>
                                        <td><span id = 'texams{{ forloop.counter }}'></span></td>
                                        <td><span id = 'tquestions{{ forloop.counter }}'></span></td>
                                        <td>{{ ins.date }}</td>
                                        <td>
                                            <ul class="pagination">
                                                <li class="page-item active">
                                                    <a href="{% url 'StudentPanel:exams' ins.package.id %}"  class="page-link">Check</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="pagination">
                                                <li class="page-item active">
                                                    <a  class="page-link"  data-toggle="modal" data-target="#feedetails{{ ins.id }}">Fee Details</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                               {% endif %}
                                {% if request.user.last_name == "E_Student" %}
                                    {% for ins in data.assign_test_series_external_student_set.all %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ ins.package.name }}</td>
                                        <td>{{ ins.package.course.name }}</td>
                                        <td><span id = 'texams{{ forloop.counter }}'></span></td>
                                        <td><span id = 'tquestions{{ forloop.counter }}'></span></td>
                                        <td>{{ ins.date }}</td>
                                        <td>
                                            <ul class="pagination">
                                                <li class="page-item active">
                                                    <a href="{% url 'StudentPanel:exams' ins.package.id %}"  class="page-link">Check</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="pagination">
                                                <li class="page-item active">
                                                    <a  class="page-link"  data-toggle="modal" data-target="#feedetails{{ ins.id }}">Fee Details</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

        </div>
    </div>
</div>



<!-- Add New Task -->
<div class="modal fade" id="addcontact" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Add New Task</h6>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Task no.">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Job title">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <select class="form-control show-tick m-b-10">
                            <option>Select Team</option>
                            <option>John Smith</option>
                            <option>Hossein Shams</option>
                            <option>Maryam Amiri</option>
                            <option>Tim Hank</option>
                            <option>Gary Camara</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label>Range</label>
                        <div class="input-daterange input-group" data-provide="datepicker">
                            <input type="text" class="form-control" name="start">
                            <span class="input-group-addon"> to </span>
                            <input type="text" class="form-control" name="end">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!--  Fee Details Models Start --->
{% if request.user.last_name == "I_Student" %}
{% for sc in data.assign_test_series_institute_student_set.all %}

<div class="modal fade" id="feedetails{{ sc.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h5 class="title" id="largeModalLabel111"><strong class="text-primary">Invoices</strong></h5>
                    </center>

            </div>

            <div class="modal-body">

                <div class="card">
                            <div class="body">
                                <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>Total Fee</th>
                                    <th>Paid Fee</th>
                                    <th>Remain Fee</th>
                                </tr>
                                <tr>
                                    <td>{{ sc.total_fee }}</td>
                                    <td>{{ sc.paid_fee }}</td>
                                    <td>{{ sc.remain_fee }}</td>
                                </tr>
                            </table>
                        </div>
                                <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                <th>S.no.</th>
                                <th>Paid Amount</th>
                                <th>Payment Date</th>
                                <th>Generate Invoice</th>

                               </tr>
                                <tbody>
                                {% for payment in sc.examinvoicegenerate_set.all %}
                                <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ payment.paid_fee }}</td>
                                <td>{{ payment.date }}</td>
                                <td>
                                    <div class="pagination ">
                                    <div class="page-item active">
                                        <a  href ="{% url 'Frontdesk:front_student_invoice' payment.id %}" class="page-link">Invoices</a>
                                    </div>
                                </div>
                                </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                            </div>
                </div>
                        </div>
                    </div>
                </div>

        </div>
{% endfor %}
{% endif %}



<!--  Fee Details Models Start --->
{% if request.user.last_name == "E_Student" %}
{% for sc in data.assign_test_series_external_student_set.all %}

<div class="modal fade" id="feedetails{{ sc.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h5 class="title" id="largeModalLabel111"><strong class="text-primary">Invoices</strong></h5>
                    </center>

            </div>

            <div class="modal-body">

                <div class="card">
                            <div class="body">
                                <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                    <th>Total Fee</th>
                                    <th>Paid Fee</th>
                                    <th>Remain Fee</th>
                                </tr>
                                <tr>
                                    <td>{{ sc.total_fee }}</td>
                                    <td>{{ sc.paid_fee }}</td>
                                    <td>{{ sc.remain_fee }}</td>
                                </tr>
                            </table>
                        </div>
                                <div class="table-responsive">
                            <table class="table table-hover">
                                <tr>
                                <th>S.no.</th>
                                <th>Paid Amount</th>
                                <th>Payment Date</th>
                                <th>Generate Invoice</th>

                               </tr>
                                <tbody>
                                {% for payment in sc.examinvoicegenerate_set.all %}
                                <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ payment.paid_fee }}</td>
                                <td>{{ payment.date }}</td>
                                <td>
                                    <div class="pagination ">
                                    <div class="page-item active">
                                        <a  href ="{% url 'Frontdesk:front_student_invoice' payment.id %}" class="page-link">Invoices</a>
                                    </div>
                                </div>
                                </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                            </div>
                </div>
                        </div>
                    </div>
                </div>

        </div>
{% endfor %}
{% endif %}
<!--  Fee Details Models End --->






<!--  Fee Details Models Start --->
<!--  Fee Details Models End --->







<script>
 function myfunction() {

           var d1 = {{ exams }}

                 for (var i = 0; i<d1.length; i++)
                    {
                      var t = i + 1;
                      var k = t.toString();
                      var td3 = document.getElementById("texams"+k);
                      td3.innerText = d1[i];
                    }

           var d2 = {{ questions }}

                 for (var i = 0; i<d2.length; i++)
                    {
                      var t = i + 1;
                      var k = t.toString();
                      var td2 = document.getElementById("tquestions"+k);
                      td2.innerText = d2[i];
                    }



        }
window.onload =myfunction;
</script>




<script>
var countDownDate = 0;
var count = new Date().getTime();
var h = 1000 * 60 * 60 * 1;
var m = 1000 * 60 * 10;
var s = 1000 * 20;
countDownDate = count + h + m + s + 2000;
// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = hours + ":" + minutes + ":" + seconds;

    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
}, 1000);
</script>

{% endblock %}