<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="SaaS & Software Html5 Landing Page" />
        <meta name="keywords" content="agency, bootstrap, business, corporate, creative, landing page, marketing, multipurpose, product, product launch, responsive, software, startup, startup landing page" />
        <meta name="author" content="ThemesBoss" />

        <!-- Site Title -->
        <title>SkyLark - The Software for Institutes and Students</title>

        <!-- Site favicon -->
        <link rel="shortcut icon" href="{% static 'start/images/favicon.ico">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'start/css/bootstrap.min.css' %}" type="text/css">

        <!-- MFP Css -->
        <link rel="stylesheet" href="{% static 'start/css/magnific-popup.css' %}">

        <!-- Material Icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'start/css/materialdesignicons.min.css' %}" />

        <!-- Pe7 Icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'start/css/pe-icon-7.css' %}">

        <!-- Owl Slider -->
        <link rel="stylesheet" href="{% static 'start/css/owl.carousel.css' %}" />
        <link rel="stylesheet" href="{% static 'start/css/owl.theme.css' %}" />
        <link rel="stylesheet" href="{% static 'start/css/owl.transitions.css' %}" />

        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" href="{% static 'start/css/style.css' %}" />

    </head>    
    <body >

        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky" >
            <div class="container" >
                <!-- LOGO -->
                <a class="logo navbar-brand" href="">
                    
                    <span class="img-fluid logo-light" style="color: white; font-size: 30px;">SkyLark</span>
                    <span class="img-fluid logo-dark" style="color: black; font-size: 30px;">SkyLark</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
                        <li class="nav-item active">
                            <a href="#home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#features" class="nav-link">Features</a>
                        </li>
                        <li class="nav-item">
                            <a href="#screenshot" class="nav-link">Screenshot</a>
                        </li>
                        <li class="nav-item">
                            <a href="#price" class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a href="#download" class="nav-link">Demo</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <!--Start Home-->
        <section class="home-bg-pattern home-clip"
                 style="background-image:url(http://admissiondelhi.in/wp-content/uploads/2017/02/home-parallax-background.jpg)" id="home">
            <!-- <div class="bg-overlay"></div> -->
            <div class="home-table">
                <div class="home-table-center">
                    <div class="container position-relative z-index">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-white text-center">
                                    <h1 class=" "><span style="color:white;
                                     font-size:50px;">Institute Management</span> + <span style="color:white;
                                     font-size:40px;">Online Examination</span> = SkyLarkERP</h1>
                                    <p class=" mx-auto pt-4 mb-0 pb-2" style="color:white; font-size:20px; font-family:monospace;">Simple Yet Flexible And Powerful Institute Management Software</p>
                                    <div class="header_btn">
                                        <a href="#download" class="btn btn-info mt-4 mr-3">Start Demo</a>
                                    </div>
                                   
                                    <div>
                                        <img src="{% static 'start/img/2.jpeg' %}" alt="" class="img-fluid mx-auto home-desk d-block">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Home-->

        <!-- Start About -->
        <section class="section mt-5" id="about">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-12">
                		<div class="text-center sec_title">
                            <h4 class="text-capitalize font-weight-bold mb-0">A new innovation in online examination and Institute Management</h4>
                            <div class="main-title-border">
                                <i class="mdi mdi-cannabis"></i>
                            </div>      
                            <p class="sec_subtitle mx-auto text-muted mb-0">
                                Smooth registration, swift creation of
                        tests and synchronized user- interface for you and your candidates.</p>
                        </div>
        			</div>
        		</div>
        		<div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="about_boxes mt-3 text-center rounded p-4">
                            <div class="about_icon">
                                <i class="mdi mdi-airplay text-custom"></i>
                            </div>
                            <div class="about_content mt-3">
                                <h5 class="font-weight-bold">Easy to Learn and Use</h5>
                                <p class="text-muted mb-0 mt-3">One-stop-destination for examination, preparation,
                                    Institute Management, and more. Specially designed online examination system to solve all your
                                    preparation worries. The platform is smooth to use with a translational flow of
                                    information.</p>
                                <div class="mt-3 about_btn">
                                    <a href=""><i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="about_boxes mt-3 text-center rounded p-4">
                            <div class="about_icon">
                                <i class="mdi mdi-share-variant text-custom"></i>
                            </div>
                            <div class="about_content mt-3">
                                <h5 class="font-weight-bold">Highly Interactive Interface</h5>
                                <p class="text-muted mb-0 mt-3">A click to the next trick, simple registration, signing- in,
                                    synchronized processing, Income Flow Chart, secured encoding and decoding of
                                    information and more.</p>
                                <div class="mt-3 about_btn">
                                    <a href=""><i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="about_boxes mt-3 text-center rounded p-4">
                            <div class="about_icon">
                                <i class="mdi mdi-monitor-cellphone text-custom"></i>
                            </div>
                            <div class="about_content mt-3">
                                <h5 class="font-weight-bold">Advanced Reporting System</h5>
                                <p class="text-muted mb-0 mt-3">Instant scorecard generation, computational analysis,
                                    efficient feedback sharing to boost up Students performance and precision.
                                    An ultimate combination of detailed and drilled methodologies that
                                    will eventually complement your skills and grades..</p>
                                <div class="mt-3 about_btn">
                                    <a href=""><i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        	</div>
        </section>
        <!-- End About -->



                <!-- Start Key Feture -->
        <section class="section mt-5" id="features" style="background-image:url(http://www.aksitservices.co.in/assets/img/background.jpg)">
        	<div class="container">
        		 <div class="row" >
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h4 class="text-capitalize font-weight-bold mb-0" style="color:white;">Key features of the product</h4>
                            <div class="main-title-border">
                                <i class="mdi mdi-cannabis"></i>
                            </div>
                            <p class="  mb-0" style="color:white;">
                                In this product you will get 5 different panels <strong>(Admin Panel, Front office Panel,
                                Exam Panel, Library Panel & Student Panel)</strong> for different use. In these panels you will
                                get lot of possibilities to manage Students, Library, Front office, Income, Upcoming income,
                                online exams, Question bank and More.
                                </p>
                        </div>
                    </div>
                </div>
        		<div class="row mt-5">
                   {% for i in Keys %}
                    <div class="col-lg-4">
                        <div class="about_boxes mt-3 text-center rounded p-4">
                            <div class="about_content mt-3">
                                <h5 class="font-weight-bold" style="color:white;">
                                    <a data-toggle="collapse" data-target="#demo{{ forloop.counter }}">{{ forloop.counter }}. {{ i.title }}</a></h5>
                                <p class=" mb-0 mt-3 " id="demo{{ forloop.counter }}" style="color:white;">{{ i.dis|safe }}</p>
                            </div>
                        </div>
                    </div>
                   {% endfor %}




                </div>
        	</div>
        </section>
        <!-- End Key -->


        <!-- Start Screenshot -->
        <section class="section" id="screenshot">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h4 class="text-capitalize font-weight-bold mb-0">Dashboard Screenshots</h4>
                            <div class="main-title-border">
                                <i class="mdi mdi-cannabis"></i>
                            </div>      
                            <p class="sec_subtitle mx-auto text-muted mb-0">There are some screenshots of different panels. You can
                            check it and take some visual experience.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="mt-3">
                            <a href="{% static 'start/img/2.jpeg' %}" class="img-zoom">
                                <img src="{% static 'start/img/2.jpeg' %}" alt="" width="350" height="350" class="img-fluid mx-auto home-desk d-block">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mt-3">
                            <a href="{% static 'start/img/3.jpeg' %}" class="img-zoom">
                                <img src="{% static 'start/img/3.jpeg' %}" alt="" width="350" height="350" class="img-fluid mx-auto home-desk d-block">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mt-3">
                            <a href="{% static 'start/img/4.jpeg' %}" class="img-zoom">
                                <img src="{% static 'start/img/4.jpeg' %}" alt="" width="350" height="350" class="img-fluid mx-auto home-desk d-block">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <div class="mt-3">
                            <a href="{% static 'start/img/8.jpeg' %}" class="img-zoom">
                                <img src="{% static 'start/img/8.jpeg' %}" alt="" width="350" height="350" class="img-fluid mx-auto home-desk d-block">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mt-3">
                            <a href="{% static 'start/img/6.jpeg' %}" class="img-zoom">
                               <img src="{% static 'start/img/6.jpeg' %}" alt="" width="350" height="350" class="img-fluid mx-auto home-desk d-block">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mt-3">
                            <a href="{% static 'start/img/7.jpeg' %}" class="img-zoom">
                                <img src="{% static 'start/img/7.jpeg' %}" alt="" width="350" height="350" class="img-fluid mx-auto home-desk d-block">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Screenshot -->

        <!-- Start Client
        <section class="section bg-light" id="client">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="sec_small_title text-custom mb-0">Client</p>
                            <h4 class="text-capitalize font-weight-bold mb-0">What Client's Say's</h4>
                            <div class="main-title-border">
                                <i class="mdi mdi-cannabis"></i>
                            </div>      
                            <p class="sec_subtitle mx-auto text-muted mb-0">Dantes remained confused and silent by this explanation of the thoughts which had unconsciously been working in his mind, or rather soul.</p>     
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div id="owl-demo" class="owl-carousel">
                            <div class="text-center testi_boxes ml-2 mb-3 mr-2 mt-3 rounded">
                                <div class="bus_testi_icon text-custom">
                                    <i class="pe-7s-user"></i>
                                </div>
                                <div class="mt-3">
                                    <p class="client_review text-muted font-italic text-center">" we are Softie, a design and branding agency with partners worldwide been working in his mind, or rather soul."</p>
                                    <p class="client_name text-center mb-0 mt-4 font-weight-bold">- Jeffery Newman, Softie</p>
                                </div>
                            </div>
                            <div class="text-center testi_boxes ml-2 mb-3 mr-2 mt-3 rounded">
                                <div class="bus_testi_icon text-custom">
                                    <i class="pe-7s-user"></i>
                                </div>
                                <div class="mt-3">
                                    <p class="client_review text-muted font-italic text-center">" we are Softie, a design and branding agency with partners worldwide been working in his mind, or rather soul."</p>
                                    <p class="client_name text-center mb-0 mt-4 font-weight-bold">- Christopher Mayo, Softie</p>
                                </div>
                            </div>
                            <div class="text-center testi_boxes ml-2 mb-3 mr-2 mt-3 rounded">
                                <div class="bus_testi_icon text-custom">
                                    <i class="pe-7s-user"></i>
                                </div>
                                <div class="mt-3">
                                    <p class="client_review text-muted font-italic text-center">" we are Softie, a design and branding agency with partners worldwide been working in his mind, or rather soul."</p>
                                    <p class="client_name text-center mb-0 font-weight-bold mt-4">- Douglass Foster, Softie</p>
                                </div>
                            </div>
                            <div class="text-center testi_boxes ml-2 mb-3 mr-2 mt-3 rounded">
                                <div class="bus_testi_icon text-custom">
                                    <i class="pe-7s-user"></i>
                                </div>
                                <div class="mt-3">
                                    <p class="client_review text-muted font-italic text-center">" we are Softie, a design and branding agency with partners worldwide been working in his mind, or rather soul."</p>
                                    <p class="client_name text-center mb-0 mt-4 font-weight-bold">- Jeffery Newman, Softie</p>
                                </div>
                            </div>
                            <div class="text-center testi_boxes ml-2 mb-3 mr-2 mt-3 rounded">
                                <div class="bus_testi_icon text-custom">
                                    <i class="pe-7s-user"></i>
                                </div>
                                <div class="mt-3">
                                    <p class="client_review text-muted font-italic text-center">" we are Softie, a design and branding agency with partners worldwide been working in his mind, or rather soul."</p>
                                    <p class="client_name text-center mb-0 mt-4 font-weight-bold">- Christopher Mayo, Softie</p>
                                </div>
                            </div>
                            <div class="text-center testi_boxes ml-2 mb-3 mr-2 mt-3 rounded">
                                <div class="bus_testi_icon text-custom">
                                    <i class="pe-7s-user"></i>
                                </div>
                                <div class="mt-3">
                                    <p class="client_review text-muted font-italic text-center">" we are Softie, a design and branding agency with partners worldwide been working in his mind, or rather soul."</p>
                                    <p class="client_name text-center mb-0 font-weight-bold mt-4">- Douglass Foster, Softie</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                    End Client -->

        <!-- Start Pricing -->
        <section class="section" id="price">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h4 class="text-capitalize font-weight-bold mb-0">Students Wise Pricing</h4>
                            <div class="main-title-border">
                                <i class="mdi mdi-cannabis"></i>
                            </div>      
                            <p class="sec_subtitle mx-auto text-muted mb-0">Pricing Based on <b>"Pay as You Grow"</b></p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="price_box text-center mt-3 rounded p-4">
                            <div class="price_name">
                                <p class="mb-0 text-custom">PROFESSIONAL</p>
                            </div>
                            <p>Great for growing business</p><br>
                            <p style="font-family:monospace;
                            font-size:20px;">Upto: <b>100 Students</b></p>
                            <div class="price_divider"></div>
                            <div class="plan_price mt-3">
                                <h3 class="font-weight-bold mb-0">&#8377; 0.60</h3><small>Per Student/Per Day</small>
                            </div>
                            <div class="price_divider"></div>
                            <div class="price_desc mt-4 mx-auto">
                                <p>
                                    <img src="{% static 'right.png' %}" width="20" height="20">4 Admin Panel<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20">Candidate Panel<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20">Unlimited quizzes<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20">Unlimited Exams<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20">Unlimited Attempts<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>10 GB Storage</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>5,000 SMS Free</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>1 Static Website</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>Secure 256-bit SSL encryption</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>Integration on Your Domain</b><br>
                                </p>
                            </div>
                            <div class="mt-4 pt-2">
                                <a href="#Support" class="btn btn-info btn-rounded">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="price_box text-center mt-3 rounded p-4 active position-relative">
                            <div class="lable">
                                <h6 class="best mb-0 text-uppercase">Best &nbsp;Plan</h6>
                            </div>
                            <div class="price_name">
                                <p class="mb-0 text-custom">BUSINESS</p>
                            </div>
                            <p>Best professional solution for existing business</p>
                            <p style="font-family:monospace;
                            font-size:20px;"><b>100 to 200 Students</b></p>
                            <div class="price_divider"></div>
                            <div class="plan_price mt-3">
                                <h3 class="font-weight-bold mb-0">&#8377; 0.50</h3><small>Per Student/Per Day</small>
                            </div>
                            <div class="price_divider"></div>
                            <div class="price_desc mt-4 mx-auto">
                                <p>
                                    <img src="{% static 'right.png' %}" width="20" height="20">4 Admin Panel<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20">Candidate Panel<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20">Unlimited quizzes<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20">Unlimited Exams<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20">Unlimited Attempts<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>20 GB Storage</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>10,000 SMS Free</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>1 Static Website</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>Secure 256-bit SSL encryption</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>Integration on Your Domain</b><br>
                                </p>
                            </div>
                            <div class="mt-4 pt-2">
                                <a href="#Support" class="btn btn-info btn-rounded">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="price_box text-center mt-3 rounded p-4">
                            <div class="price_name">
                                <p class="mb-0 text-custom">ENTERPRISE</p>
                            </div>
                            <p>Customized to meet your business needs</p><br>
                            <p style="font-family:monospace;
                            font-size:20px;"> <b>More the 200 Students</b></p>
                            <div class="price_divider"></div>
                            <div class="plan_price mt-3">
                                <h3 class="font-weight-bold mb-0"><sup></sup>Custom</h3>
                                <small>Contact Us</small>
                            </div>
                            <div class="price_divider"></div>
                            <div class="price_desc mt-4 mx-auto">
                                <p>
                                    <img src="{% static 'right.png' %}" width="20" height="20">4 Admin Panel<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20">Candidate Panel<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20">Unlimited quizzes<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20">Unlimited Exams<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20">Unlimited Attempts<br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>40 GB Storage</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>20,000 SMS Free</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>1 Dynamic Website</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>Secure 256-bit SSL encryption</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>Integration on Your Domain</b><br>
                        
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>Your Own Branded Android App For Students</b><br>
                                    <img src="{% static 'right.png' %}" width="20" height="20"><b>Add to Cart Function </b><br>
                                </p>
                            </div>
                            <div class="mt-4 pt-2">
                                <a href="#Support" class="btn btn-info btn-rounded">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Pricing -->


        <!-- Start Contact/Footer -->
        <section class="section bg-contact-color" id="download">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-white text-center started-text">
                            <h1 class="mb-0">Want To Get Started</h1>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div class="contact_form mx-auto">
                            <form action="" method="post">{% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input name="name" id="name" type="text" class="form-control" placeholder="Your name..." required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input name="mobile" id="mobile" type="text" class="form-control" placeholder="Your Mobile..."  required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input name="email" id="email" type="email" class="form-control" placeholder="Your email..."  required="">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group mt-2">
                                            <input name="institute" type="text" class="form-control" id="subject" placeholder="Your Institute.."  required=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mt-2 text-center">
                                        <a href="{% url 'login' %}" style="color:white"> Already Have an Account. Click Here</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mt-2 text-center">
                                        <input type="submit" class="btn btn-custom w-50" value="Get The Demo">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer_divider mb-5 mt-5"></div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <h6 class="mt-3 text-white text-uppercase">About SkyLark</h6>
                        <div class="mt-3">
                            <p class="about_oxcer">
                                SkyLark is Online Examination and Management software for Institute. SkyLark Developed by
                                <b style="color:white;">TechSim+</b>( Group of Desprin Enterprise Pvt. Ltd. ).<br>
                                Project Manager: Nikita Choudhary
                            </p>
                        </div>
                        <ul class="list-inline fot_social">
                            <li class="list-inline-item"><a href="https://www.facebook.com/techsimplus/" target="_blank" class="social-icon text-muted"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="" target="_blank" class="social-icon text-muted"><i class="mdi mdi-linkedin"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2" id = "Support">
                        <h6 class="mt-3 text-white text-uppercase">Support</h6>
                        <ul class="list-unstyled footer_menu_list mt-3">
                            <li><a href="pattern_4.html#">Help Center</a></li>
                            <li><a href="pattern_4.html#">Call Support</a></li>
                            <li><a href="pattern_4.html#">Documentation</a></li>
                            <li><a href="pattern_4.html#">Video Tutorials</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="mt-3 text-white text-uppercase">Locations</h6>
                        <p class="mt-3" style="color:#6c757d;">Address: TechSim+,
                            3rd Floor, Kalpataru Tower, Z-2 MP Nagar, Bhopal- 462011</p>
                         <ul class="list-inline fot_social">
                            <li class="list-inline-item"><a href="https://goo.gl/maps/t5ZdduNaPR62" target="_blank" class="social-icon text-muted"><i class="mdi mdi-map"></i></a></li>
                        </ul>

                        <p style="color:white; font-size:20px;">Call: 9893762256, 7987193848</p>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="copy-rights mb-0">2019 &copy; SkyLark. Developed by <a href="https://techsimplus.com" style="color:white;">TechSim+</a>.</p>
                        </div>
                    </div>
                </div>    
            </div>
        </section>
        <!-- End Contact/Footer -->

        <!-- Back To Top -->    
        <a href="pattern_4.html#" class="back_top"> <i class="pe-7s-angle-up"> </i> </a>

        <!-- Javascript -->
        <script src="{% static 'start/js/jquery.min.js' %}"></script>
        <script src="{% static 'start/js/popper.min.js' %}"></script>
        <script src="{% static 'start/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'start/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'start/js/scrollspy.min.js' %}"></script>

        <!-- Owl Js -->
        <script src="{% static 'start/js/owl.carousel.min.js' %}"></script>

        <!-- Particles Js -->
        <script src="{% static 'start/js/particles.js' %}"></script>  
        <script src="{% static 'start/js/particles.app.js' %}"></script>

        <!-- MFP JS -->
        <script src="{% static 'start/js/jquery.magnific-popup.min.js' %}"></script>

        <!-- Custom Js   -->
        <script src="{% static 'start/js/custom.js' %}"></script>  

    </body>
</html>