{% extends 'web/base.html' %}
{% load static %}
{% block body %}    <!-- slider-start -->
    <div class="slider-area" >
        <div class="page-title">
            <div class="single-slider   d-flex align-items-center" style="background-image: url('{% static 'web/img/bg/others_bg.jpg' %}');height:200px;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider-content slider-content-breadcrumb text-center">
                                <h2 class="white-color f-700">Student's Review</h2>
                                <nav class="text-center" aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a href="{% url 'Website:website_home' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Student's Review</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-end -->
     <!-- testimonials start -->
    <div class="testimonilas-area pt-10 pb-90" style="background-image: url('{% static 'web/sbg.png' %}')">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="section-title mb-50 text-center">
                        <div class="section-title-heading mb-20">
                            <h1 class="primary-color">What Our Students Say</h1>
                            {% if request.user.is_staff %}
                            <a href="{% url 'Website:add_review' %}"><span class="btn-text">Add Reviews</span></a>
                           {% endif %}
                        </div>
                        <div class="section-title-para">
                            <p class="gray-color">The Sankalp Institutes is entirely committed towards the education of students.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonilas-list">
                <div class="row testimonilas-active">


                    {% for i in all_feedback %}
                    <div class="col-xl-12">
                        <div class="testimonilas-wrapper">
                            <div class="testimonilas-heading d-flex">
                                <div class="testimonilas-author-thumb">
                                    <img src="{{ i.image.url }}" alt="" height="50px;" width="50px;">
                                </div>
                                <div class="testimonilas-author-title">
                                    <h1>{{ i.name }}</h1>
                                    <h2>{{ i.sub_course.name }}</h2>
                                </div>
                            </div>
                            <div class="testimonilas-para">
                                <p>{{ i.feedback }}
                                    {% if request.user.is_staff %}
                                <a href="{% url 'Website:delete_stuff' 'Review' i.id %}"><span class="ti-trash" style="font-size:20px;"></span></a></li>
                                {% endif %}
                                </p>
                            </div>

                        </div>
                    </div> {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- testimonials end -->

   {% endblock %}